header {
    padding: 10px 30px;
    background-color: white;

    & .container {
        max-width: 1220px;
        display: flex;
        justify-content: space-between;

        // background-color: red;
        & nav {
            display: flex;
            align-items: center;
            gap: 10px;

            & a {
                text-decoration: none;
                color: $themeColor;

                &:last-child {
                    background-color: red;
                    padding: 10px;
                }

                &:hover {
                    background-color: $themeColor;
                    color: white;
                }
            }
        }
    }
}